{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 chrome versions"
      }
    }],
    "stage-1",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    },
    "development": {
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        "react-hot-loader/babel"
      ]
    }
  }
}
