{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "last 2 chrome versions"
      }
    }],
    "stage-1",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
