{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": 7
      }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-export-extensions",
    "transform-class-properties",
    "transform-flow-strip-types"
  ]
}
