.chat {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    .messages {
        color: #efefef;
        font-size: 0.8rem;
        flex: 1;
        height: calc(100% - 25px);
        margin: 0;
        padding: 5px 8px;

        ul {
            height: 100%;
            list-style: none;
            margin: 0;
            padding-left: 0;
            overflow: auto;
        }
    }

    form {
        height: 25px;

        input {
            background: rgba(0, 0, 0, 0.25);
            border: none;
            color: white;
            display: block;
            height: 100%;
            margin: 0;
            outline: none;
            padding: 5px;
            width: 100%;
        }
    }
}
