@import 'chat';
@import 'menu';

$bgColor: #718c5a;

body {
    font-family: 'Open Sans';
    font-size: 1rem;
    margin: 0;
}

#gameMount {
    height: 100vh;
}

.game-container {
    * {
        box-sizing: border-box;
    }

    display: flex;
    height: 100%;

    .sidebar {
        background-color: #111518;
        color: #fff;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;

        .teams-list {
            font-size: 0.9rem;
            margin: 0;
            list-style: none;
            padding: 0;

            > li {
                border-bottom: 1px solid #000;
                border-top: 1px solid #1f2528;
                padding: 8px 2px;

                &:first-child {
                    border-top: 0;
                }

                &:last-child {
                    border-bottom: 0;
                }

                a {
                    color: #fff;
                    font-weight: bold;
                    text-decoration: none;
                }

                .score {
                    float: right;
                    font-weight: bold;
                }

                ul {
                    background: #181d20;
                    font-size: 0.8rem;
                    margin-top: 8px;
                    list-style: none;
                    padding-left: 0px;

                    li {
                        margin-bottom: 0;
                        padding: 4px 6px;
                    }

                    img {
                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: middle;
                        width: 16px;
                    }
                }
            }
        }

        button {
            border: 0;
            border-radius: 3px;
            color: white;
            cursor: pointer;
            display: block;
            outline: none;
            padding: 5px;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &.toggle-menu {
                background: #2a2d30;
            }

            &.start-game {
                background: #234f71;
            }

            &.stop-game {
                background: #a52424;
            }
        }
    }

    .main-area {
        display: flex;
        flex: 5;
        flex-direction: column;
        position: relative;

        .top-bar {
            background: darken($bgColor, 10%);
            border-bottom: 1px solid #4a4a4a;
            color: #fff;
            display: flex;
            padding: 10px;

            > * {
                flex: 1;
            }

            .scores {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-flex;
                    margin-right: 10px;
                    vertical-align: middle;

                    .color-block {
                        box-shadow: 1px 1px 1px 0px #000;
                        height: 20px;
                        order: 0;
                        width: 20px;
                    }

                    .score {
                        order: 1;
                    }
                }

                &.teams-2 li:nth-child(2) {
                    &::before {
                        content: '-';
                        margin-right: 10px;
                    }

                    .color-block {
                        margin-left: 5px;
                        margin-right: 0;
                        order: 1;
                    }

                    .score {
                        order: 0;
                    }
                }
            }

            .room-name {
                text-align: center;
            }

            .timer {
                text-align: right;
            }
        }

        .content {
            flex: 1;
            position: relative;

            .pitch {
                height: 100%;
                position: relative;
                outline: none;

                canvas {
                    display: block;
                    position: absolute;
                }
            }

            .menu-container {
                bottom: 0;
                display: flex;
                left: 0;
                right: 0;
                top: 0;
                position: absolute;
            }
        }

        .chat-container {
            background: $bgColor;
            flex: 1;
            max-height: 25%;
            padding: 1%;

            .chat {
                height: 100%;
                margin: 0 auto;
                width: 75%;
            }
        }
    }

    .color-block {
        border-radius: 2px;
        display: inline-block;
        margin-right: 5px;
        height: 15px;
        width: 15px;
        vertical-align: middle;
    }
}
