.menu {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #efefef;
    display: flex;
    font-size: 0.9rem;
    margin: 2% auto;
    padding: 1%;
    width: 75%;

    .setting-group {
        flex: 1;
    }

    h2 {
        margin-top: 0;
    }

    .input-group {
        margin-bottom: 2px;
    }

    label {
        span {
            display: inline-block;
            width: 30%;
        }

        input, select {
            background: rgba(0, 0, 0, 0.6);
            border: 0;
            border-radius: 5px;
            color: #efefef;
            outline: none;
            padding: 5px;

            &.block {
                display: inline-block;
                width: 70%;
            }
        }
    }
}
