.player-list {
    background: #181d20;
    font-size: 0.8rem;
    margin-top: 8px;
    list-style: none;
    padding-left: 0px;

    li {
        margin-bottom: 0;
        padding: 4px 6px;
    }

    img {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
        width: 16px;
    }

    span.admin {
        color: $adminColor;
    }

    .react-contextmenu {
        background: #eee;
        border-radius: 5px;
        color: $sidebarColor;

        .react-contextmenu-item {
            cursor: pointer;
            padding: 5px;
        }
    }
}
